<br/>

<div class="row">

  <button mat-raised-button class="col-2" disabled="false" (click)="onReloadClick()">Reload</button>

  <div *ngIf="!rowData" class="col">
    <a class="alert alert-danger">Error while loading the list</a>
  </div>

  <div *ngIf="rowData" class="col">
    <a class="alert alert-success">User list loaded successfully !</a>
  </div>
</div>

<br />

<ag-grid-angular
  style="width: 100%; height: 500px; padding: 50px"
  class="ag-theme-balham"
  [rowData]="rowData"
  [columnDefs]="colDefs"
>
</ag-grid-angular>

