
<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center">
  <div class="text-center">
    <h1 class="display-3 mb-4 fw-bold">Welcome to the administration page of WMLMS</h1>

    <p class="lead mb-4 px-3">
      Please navigate to the tools you need using the navbar or use the buttons beneath.
    </p>
  </div >

    <ul>
      <button mat-raised-button style="display: block; width: 500px; margin-bottom: 4px" color="primary" routerLink="/a/users">Users</button>
      <button mat-raised-button style="display: block; width: 500px; margin-bottom: 4px" color="primary" routerLink="/a/artists">Artists</button>
      <button mat-raised-button style="display: block; width: 500px; margin-bottom: 4px" color="primary" routerLink="/a/tables">Tables</button>
      <button mat-raised-button style="display: block; width: 500px; margin-bottom: 4px" color="primary" routerLink="/a/queries">Queries</button>
      <button mat-raised-button style="display: block; width: 500px; margin-bottom: 4px" color="primary" routerLink="/a/statistics">Statistics</button>
      <button mat-raised-button style="display: block; width: 500px; margin-bottom: 4px" color="primary" routerLink="/a/logs" hidden>Logs</button>
    </ul>

</div>


