<nav class="navbar navbar-expand-sm navbar-light bg-light">

  <a routerLink="/a/home" class="navbar-brand" href="#" >ADMIN</a>

  <a mat-raised-button routerLink="/a/home" class="nav-link" href="#" style="margin-left: 6px">Home</a>

  <a mat-raised-button routerLink="/a/users" class="nav-link" href="#" style="margin-left: 6px">Users</a>

  <a mat-raised-button routerLink="/a/artists" class="nav-link" href="#" style="margin-left: 6px">Artists</a>

  <a mat-raised-button routerLink="/a/tables" class="nav-link" href="#" style="margin-left: 6px" >Tables</a>

  <a mat-raised-button routerLink="/a/queries" [style.background-color]="'orange'" class="nav-link" href="#" style="margin-left: 6px">Queries</a>

  <a mat-raised-button routerLink="/a/statistics" [style.background-color]="'orange'" class="nav-link " href="#" style="margin-left: 6px">Statistics</a>

  <a mat-raised-button routerLink="/a/logs" [style.background-color]="'orange'" class="nav-link" href="#" style="margin-left: 6px">Logs</a>


  <div class="col-2" hidden >
    <div ngbDropdown  type="button" >
      <span ngbDropdownToggle></span>
      <div ngbDropdownMenu >
        Valeurs
      </div>
    </div>
  </div>
</nav>
