
<nav class="navbar navbar-expand-sm navbar-light bg-light">

  <a routerLink="/a" class="navbar-brand col-2" href="/home" >ADMIN</a>

  <a routerLink="/a" [style.background-color]="'orange'" class="nav-link col-1" href="#">Home</a>

  <a routerLink="/a/users" [style.background-color]="'orange'" class="nav-link col-1" href="#">Users</a>

  <a routerLink="/a/tables" [style.background-color]="'orange'" class="nav-link col-1" href="#">Tables</a>

  <a routerLink="/a/queries" [style.background-color]="'orange'" class="nav-link col-1" href="#">Queries</a>

  <a routerLink="/a/statistics" [style.background-color]="'orange'" class="nav-link col-2 " href="#">Statistics</a>

  <a routerLink="/a/logs" [style.background-color]="'orange'" class="nav-link col-1" href="#">Logs</a>


  <div class="col-2" hidden >
    <div ngbDropdown  type="button" >
      <span ngbDropdownToggle></span>
      <div ngbDropdownMenu >
        Valeurs
      </div>
    </div>
  </div>


</nav>
