<nav class="navbar navbar-expand-sm navbar-light bg-light">

  <a routerLink="/" class="navbar-brand col-2" href="/home" >WMLMS</a>

  <a class="nav-link col-2" href="/user">Home</a>

  <a routerLink="/user/playlists" class="nav-link col-2" href="/playlists">Playlists</a>

  <a routerLink="/user/songs" class="nav-link col-2" href="/songs">Songs</a>

  <a routerLink="/user/artists" class="nav-link col-2" href="/artists">Artists</a>

  <div class="col-2" hidden >
    <div ngbDropdown  type="button" >
      <span ngbDropdownToggle></span>
      <div ngbDropdownMenu >
        Valeurs
      </div>
    </div>
  </div>


</nav>
