<div>
  <app-main-page-navbar />
</div>

<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center">
  <div class="text-center">
    <h1 class="display-3 mb-4 fw-bold">Web Music Library Management System</h1>

    <p class="lead mb-4 px-3">
      WMLMS (Web Music Library Management System) is a web app made for music fans and artists that allows you to listen to music using Spotify's API, or manage your songs, as well as a forum to talk about music.
    </p>

    <button routerLink="/login" type="button" class="btn btn-primary">Login</button>
    <button routerLink="/signup" type="button" class="btn btn-primary">Sign up</button>
  </div>
</div>



