<div style="margin-top: -5px ">
  <button mat-raised-button style="height: 25px" color="primary" (click)="onViewClick()">View</button>
  <span style="display:inline-block; width: 2px;"></span>
  <button mat-raised-button style="height: 25px" color="primary" (click)="onEditClick()">Edit</button>
  <span style="display:inline-block; width: 2px;"></span>
  <mat-slide-toggle style="height: 25px" color="warn" [checked]="toogleLockStatus" (toggleChange)="onToogleLockClick()" >{{toogleLockValue}}</mat-slide-toggle>

</div>
