
<span class="row" style="padding: 4px; padding-left: 20px; padding-right: 20px">

  <button mat-raised-button color="primary" class="col-sm-1" (click)="onLoadAlbumsClick()">Albums</button>

  <span style="display:inline-block; width: 2px;"></span>

  <button mat-raised-button color="primary" class="col-sm-1" (click)="onLoadPlaylistsClick()">Playlist</button>

  <span style="display:inline-block; width: 2px;"></span>

  <button mat-raised-button color="primary" class="col-sm-2" (click)="onLoadForumsRepliesClick()">Forums Replies</button>

  <span style="display:inline-block; width: 2px;"></span>

  <button mat-raised-button color="primary" class="col-sm-1" (click)="onLoadForumsPostsClick()">Forums Posts</button>

</span>


<ag-grid-angular *ngIf="loaded"
  style="width: 100%; height: 500px; padding: 50px"
  class="ag-theme-balham"
  [rowData]="rowData"
  [columnDefs]="colDefs"
>
</ag-grid-angular>
