<nav class="navbar navbar-expand-sm navbar-light bg-light">

  <a routerLink="" class="navbar-brand" href="#" style="margin-left: 12px">WMLMS</a>

  <mat-button-toggle-group [hideSingleSelectionIndicator]="true" appearance="legacy">
    <mat-button-toggle  routerLink="/a/home" class=" mat-raised-button nav-link" href="#" style="margin-left: 6px">Home</mat-button-toggle>
    <mat-button-toggle  routerLink="/a/users" class="nav-link" href="#" style="margin-left: 6px">Users</mat-button-toggle>
    <mat-button-toggle  routerLink="/a/artists" class="nav-link" href="#" style="margin-left: 6px">Artists</mat-button-toggle>
    <mat-button-toggle  routerLink="/a/tables" class="nav-link" href="#" style="margin-left: 6px" >Tables</mat-button-toggle>
    <mat-button-toggle  routerLink="/a/queries" class="nav-link" href="#" style="margin-left: 6px">Queries</mat-button-toggle>
    <mat-button-toggle  routerLink="/a/statistics" class="nav-link " href="#" style="margin-left: 6px">Statistics</mat-button-toggle>
    <mat-button-toggle  routerLink="/a/logs" [style.background-color]="'orange'" class="nav-link" href="#" style="margin-left: 6px" hidden>Logs</mat-button-toggle>
  </mat-button-toggle-group>
</nav>
